.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: auto;

	.logo-container {
		height: 100%;
		width: 70px;
		padding: 25px;
	}

	.logo {
		box-shadow: rgb(255, 255, 255) 0px 0px 16px 18px;
		background-color: white;
		border-radius: 5px;

		&:active,
		:focus {
			cursor: pointer;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			-webkit-tap-highlight-color: transparent; // removes blue highlight box on mobile

			transform: scale(1.15);
			transition: transform 0.1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
			// opacity: 0.6;
		}
	}

	.options {
		width: 40%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 10px;

		.option {
			// padding: 10px 5px;
			margin-top: 30px;
			cursor: pointer;
			min-width: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.sign {
		margin-right: 10px;
	}
}
